{erl_opts, [debug_info]}.
{deps, []}.
{port_specs, [
    {"priv/syslogger.so", ["c_src/*.c"]}
  ]}.
{port_env, [
  {".*", "CFLAGS", "$CFLAGS -Wall -O2"}
]}.
{post_hooks, [{clean, "rm -fr _build ebin doc priv erl_crash.dump c_src/*.o c_src/*.d"}]}.
{plugins, [pc]}.
{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean,   {pc, clean}}
    ]}
]}.
